{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=UTF-8">
    <title>百度翻译-200种语言互译、沟通全世界！</title>
</head>
<body>
    <h1 style="color:rebeccapurple;">DoubleHappy</h1>
    <div>First</div>
    <div>Second</div>
    <span>Third</span>
    <span>forth</span>
    <!-- target="_blank" 在新标签页中打开 -->
    <a href="http://www.baidu.com" target="_blank" >跳转到外界网页</a>
    <a href="/get/news">跳转到当前网页内的链接</a>
    <!--  显示图片  -->

    <img src="https://cdn.luogu.com.cn/upload/image_hosting/u6mtlvg7.png" />
    <select multiple name="所在城市" id="23">
        <option value="北京">北京</option>
        <option value="shanghai">
            shanghai
        </option>
    </select>

    <div>
        <input type="button" name="" id="" value="提交">
    </div>

    <div>

    </div>
</body>
</html>